<div class="container">
    <div class="slider-container" *ngIf="slides|async as slideData">
        <div 
            class="slider-item" 
            *ngFor="let item of slideData"
            [ngClass]="{
                selected: item.index === activeIndex,
                prev: item.index === activeIndex - 1,
                next: (item.index === activeIndex + 1 && activeIndex !== lastIndex) || (activeIndex === lastIndex && item.index === 0),
                hideLeft: item.index < activeIndex - 1,
                hideRight: item.index > activeIndex + 1
            }"
        >
            <img 
                class="slider-img"
                [src]="item.srcUrl" 
                alt="gallery-image"
                (panright)="showPrev(item.index)"
                (panleft)="showNext(item.index)"
                (click)="selectActiveSlide(item.index)"
            >
            <span>{{item.index}}</span>
        </div>
    </div>
</div>
<div class="pagination" *ngIf="slides|async as slideData">
    <span 
        *ngFor="let item of slideData"
        [ngClass]="{selected: item.index === activeIndex}"
        (click)="selectActiveSlide(item.index)"
    ></span>
</div>
