:host {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
swiper-slide {
    height: 400px;
    display: grid;
    place-items: center;
    color: white;
    &:nth-child(1) {
        background: red;
    }
    &:nth-child(2) {
        background: green;
    }
    &:nth-child(3) {
        background: blue;
    }
}
.swiper-2 {
    swiper-slide {
        background: black;
        width: 24px;
        height: 48px;
        display: grid;
        place-items: center;
    }
}


.gallery-wrapper {
    height: 100vh;
    background: #05191E;
    padding: 20px;
    display: flex;
    align-items: center;
}