<div class="slider-container" (mousedown)="onDragStart($event)" (mousemove)="onDrag($event)"
    (mouseup)="onDragEnd($event)" (touchstart)="onDragStart($event)" (touchmove)="onDrag($event)"
    (touchend)="onDragEnd($event)" #sliderContainer>
    <div class="slides">
        <div class="slide" *ngFor="let item of slides; let i = index; trackBy: trackById"
            [style.transform]="getSlideTransform(i,deltaX())" (click)="toggleOpen(i)"
            [attr.data-unique-id]="item.uniqueId"
            [ngClass]="{'active': item.uniqueId === slides[indexCenter()].uniqueId}">
            <div class="img-wrapper">
                <img [src]="item.srcUrl" alt="slide_img">
            </div>
            <p>
                <span style="color:red">{{item.uniqueId}} </span>
                <span>{{item.title}} </span>
                <span style="color:green">id:{{item.id}} </span>
            </p>
        </div>
    </div>
    <button (click)="previousSlide()" class="prev">Previous</button>
    <button (click)="nextSlide()" class="next">Next</button>
</div>
<!-- [style.width]="slideWidth()+'px'" [style.height]="slideHeight()+'px'" -->
<!-- [@slideVisibility]="getSlideState(i)" -->
<!-- [class.visible]="getSlideState(i)==='visible'" -->