<div class="slider-container" (mousedown)="onDragStart($event)" (mousemove)="onDrag($event)"
    (mouseup)="onDragEnd($event)" (mouseleave)="onDragEnd($event)">
    <div class="slides">
        <div class="slide" *ngFor="let item of slides; let i = index; trackBy: trackById"
            [style.transform]="getSlideTransform(i)" [class.active]="item.isActive"
            [class.visible]="getSlideState(i)==='visible'" [class.hidden]="getSlideState(i)==='hidden'">
            <div class="img-wrapper" [style.width]="slideWidth()+'px'" [style.height]="slideHeight()+'px'">
                <img [src]="item.srcUrl" alt="slide_img">
            </div>
            <p>
                <span style="color:red">{{item.id}} </span>
                <span>{{item.title}}</span>
            </p>
        </div>
    </div>
    <button (click)="previousSlide()" class="prev">Previous</button>
    <button (click)="nextSlide()" class="next">Next</button>
</div>
<!-- [style.width]="slideWidth()+'px'" [style.height]="slideHeight()+'px'" -->
<!-- [@slideVisibility]="getSlideState(i)" -->