:host {
  display: grid;
  place-items: center;
  grid-template-rows: 100vh;

  --slide-width: 340px;
  --slide-height: 540px;
  --slide-width-mob: 142px;
  --slide-height-mob: 226px;
}

img {
  display: grid;
  width: 100%;
  height: 100%;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.slides {
  position: relative;
  width: var(--slide-width);
  height: var(--slide-height);

  @media screen and (max-width: 1024px) {
    width: var(--slide-width-mob);
    height: var(--slide-height-mob);
  }
}

.slide {
  position: absolute;
  width: var(--slide-width);
  height: var(--slide-height);
  transform-origin: bottom center;
  transition: transform 300ms ease;
  opacity: 1;
  user-select: none;
  top: 0;
  left: 0;

  @media screen and (max-width: 1024px) {
    width: var(--slide-width-mob);
    height: var(--slide-height-mob);
  }

  &.visible {
    animation: fadeIn 200ms forwards;
  }

  &.hidden {
    animation: fadeOut 200ms forwards;
  }

  &.active {
    p {
      opacity: 1;
    }
  }

  &.opened {
    z-index: 1;

    p {
      opacity: 0;
    }

    .img-wrapper {
      border-radius: 0;
    }
  }

  p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 2em;
    opacity: 0;
    transition: 500ms;
  }
}

.img-wrapper {
  width: var(--slide-width);
  height: var(--slide-height);
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 1024px) {
    width: var(--slide-width-mob);
    height: var(--slide-height-mob);
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.prev,
.next {
  position: fixed;
  bottom: 50px;
}

.prev {
  left: 50px;
}

.next {
  right: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}