<ul class="slide-list" 
    *ngIf="(slides|async) as slidesData" 
    [style.height.px]="getSlideHeight()" 
    [style.width.px]="getSliderWidth()"
>
    <ng-container >
        <li class="slide-item" 
            *ngFor="let item of slidesData; let isFirst = first; let isLast = last"
            [ngClass]="{
                active: activeIndex === item.index,
                inactive: activeIndex !== item.index
                }"
            (click)="clickSlide(item.index)"
            [style.width.px]="getSlideWidth()"
            [style.height.px]="getSlideHeight()"
            [style.left.px]="getLeftPosition(item.index)"
            [style.z-index]="getZIndex(slidesData.length, item.index, activeIndex)"
        >
            <ng-container >
                <img [src]="item.srcUrl" alt="" class="slide-img"
                    (panright)="previousSlide(item.index)"
                    (panleft)="nextSlide(item.index)"
                >
                <span>index: {{item.index}}</span>
            </ng-container>
        </li>
    </ng-container>
</ul>
<ul class="pagination-list">
    <li class="pagination-item"
        *ngFor="let item of slides|async; let isFirst = first; let isLast = last"
        [ngClass]="{active: activeIndex === item.index}"
        (click)="clickPagination(item.index)"
    >
    <span>{{item.index}}</span>
    </li>
</ul>
